.taskTabCon {
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.orderCard {
  margin-top: 5vh;
}
.orderList {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 15px 0 0 15px;
}

.sumCon {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 50px;

  border-radius: 15px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.orderItems {
  margin-top: 30px;
}
